.Footer{
  margin-bottom: 42px;
  background: #0e0e0e;
  display: grid;
  grid-template: 1fr / auto;
  font-family: $primary-family;
  margin-bottom: 60px;
  // font-family: 'Oswald', sans-serif;
  
  @media screen and (min-width: 480px){
    margin-bottom: 0;
  }
  
  &__nav{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #131313;
    justify-content: center;
    padding: 15px 0;
  
    @media screen and (min-width: 768px){
      grid-template-columns: repeat(3, auto);
    }
    
    &--brand-image{
      padding: 0 20px;
      align-self: center;
      justify-self: center;
     
      img{
        width: 100%;
        max-width: 150px;
      }
      @media screen and (min-width: 768px){
        img{
          max-width: 250px;
        }
      }
      @media screen and (min-width: 992px){
        padding: 0 40px;
      }
    }
  }
  
  &__copyright{
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.Footer-section{
  padding: 0 20px;
  
  @media screen and (min-width: 992px){
    padding: 0 40px;
  }
  
  &__title{
    text-align: center;
    border-bottom: 2px solid $PrimarioAzul;
    padding: 10px;
    font-size: 2.4rem;
    
    @media screen and (min-width: 768px){
      padding-top: 0;
    }
  }
  
  &__list{
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
    @media screen and (min-width: 768px){
      grid-template-columns: repeat(2, 1fr);
      text-align: start;
    }
    &--item{
      list-style: none;
      /* justify-self: center; */
      padding: 10px;
      font-weight: 500;
      font-size: 1.2rem;
      
      @media screen and (min-width: 992px){
        font-size: 18px;
      }
    }
    &--item:nth-of-type(1){
      grid-column: 1 / 2;
    }
  }
  
  &.one-column &__list{
    @media screen and (min-width: 768px){
      text-align: start;
      grid-template-columns: 1fr;
    }
  }
}