.CounterItem{
  /* border: 1px solid #fff; */
  color: $primary-font-color;
  max-width: $CounterItemWidth;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  &__icon{
    height: 48px;
    fill: #fff;
  }
  
  &__amount,
  &__name{
    font-weight: 700;
    font-size: 1.92rem;
  }
}