.Plans{
  z-index: 2;
  position: relative;
  padding: 48px;
  @include backgroundFixed('https://i.imgur.com/x4wy6Es.jpg');
  display: grid;
  grid-template-columns: minmax(300px, 810px);
  justify-content: center;
  /* padding-bottom: 60px; */
  
  &__overlay{
    @include overlay;
  }
  
  &__title{
    z-index: 2;
    position: relative; 
    @include sectionTitle;
    padding-bottom: 40px;
  }
  
  &__container{
    z-index: 2;
    position: relative; 
    display: grid;
    grid-template-columns: minmax(100px, 250px);
    justify-content: center;
    grid-gap: 10px;
    grid-row-gap: 10px;
  
    @media screen and (min-width: 425px){
      grid-template-columns: minmax(100px, 250px);
    }
    @media screen and (min-width: 655px){
      grid-template-columns: repeat(3, minmax(100px, 250px));
  
      &:hover > a{
        transform: translateY(0);
      }
    }
    @media screen and (min-width: 768px){
      grid-gap: 30px;
    }
  }
}

