.PlansItem{
  z-index: 1;
  cursor: pointer;
  max-width: 250px;
  border-radius: 10px;
  text-align: center;
  background-color: $PrimarioAzulOscuro;
  display: grid;
  grid-template-columns: 1fr;

  &__title{
    list-style: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    background-color: $sombra;
  }
  &__list{
    padding: 15px 15px;
    &--feature{
      padding: 15px 0;
      list-style: none;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      border-bottom: 2px solid #fff;
    }
    &--feature:last-child{
      border: none;
    }
  }
  
  &__Button{
    cursor: pointer;
    align-self: end;
    button{
      width: 100%;
    }
  }
}