$itemHeight: 170px; 

.PortfolioItem{
  z-index: 1;
  cursor: pointer;
  position: relative;
  min-height: $itemHeight;
  background-color: $sombra;
  
  &__cover{
    transition: .3s;
    z-index: 3;
    max-height: $itemHeight;
    cursor: pointer;
    background-color: rgba($color: $secondary-dark-color, $alpha: .9);
    @include strech;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &--image{
      z-index: 3;
      @include imageCover;
    }  
    &--icon{
      z-index: 2;
      fill: $PrimarioAzulClaro;
      width: 30px;
    }  
  }  
  &__container{
    transition: .3s;
    z-index: 1;
    background-color: $SecundarioAzul;
    max-height: $itemHeight;
    text-align: center;
    @include strech;
    
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    overflow: auto;
    
    @include customScrollBar;
    
    &--description{
      padding: 10px;
    }
    &--link{
      @include secondaryButton;
    }
  }  
  
  //Cuando está abierto se le sube el z-index al item
  &.open{
    z-index: 4;
  }  
  &.open &__cover{
    transform: translateY(-50%);
  }  
  &.open &__container{
    transform: translateY(50%);
  }  
}