.Services{
  z-index: 2;
  position: relative;
  padding: 40px 10px;
  display: grid;
  grid-template-columns: minmax(auto, 2200px);
  justify-content: center;
  
  @media screen and (min-width: 480px){
    padding: 40px 20px;
  }
  @media screen and (min-width: 768px){
    padding: 40px 30px;
  }
  @media screen and (min-width: 992px){
    padding: 40px;
  }
  
  &__title{
    @include sectionTitle($PrimarioAzulClaro);
  }
  &__list{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    place-content: center;
    gap: 10px;
    
    @media screen and (min-width: 680px){
      grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    }
    @media screen and (min-width: 992px){
      grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
    }
  }
}