.ServiceItem{
  position: relative;
  max-width: 500px;
  padding: 10px;
  transition: .3s;
  min-height: 250px;
  min-height: 200px;
  
  @media screen and (min-width: 425px){
    min-height: 250px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  }
  @media screen and (min-width: 576px){
    min-height: 200px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  }
  @media screen and (min-width: 768px){
    &:hover{
      z-index: 5;
      transform: scale(1.1);
    }
    &:hover &__frame{
      border: 5px solid $PrimarioAzulClaro;  
    }
  }
  @media screen and (min-width: 992px){
    min-height: 250px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  }
  
  &__frame{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
  }
  &__cover{
    z-index: 1;
    @include imageCover;
  }
  &__summary{
    z-index: 2;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $sombra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &--title{
      padding-bottom: 10px;
    }
    &--description{
      font-size: 1.4rem;
      font-weight: 500;
    }
    @media screen and (min-width: 768px){
      &--title{
        font-size: 3rem;
      }
    }
  }
}